<!<!DOCTYPE HTML>


<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">  
    </head>
    <body>
    
        <h2>Patient Details</h2>
        First Name:{{patient.firstName}}
        Last Name:{{patient.lastName}}
        Age:{{patient.age}}
        <h2>Patient Clinical Data:</h2>
        <form method="post">
        <table>
        <th>{{form.as_table}}</th>
        {% csrf_token %}
        </table>
       <br/> <input type="submit" value="save">
        
        </form>
     

    </body>
</html>
